My investigations
1. Find out the top 500 all time leaders in homeruns (identify the group that represent the best strikers)
2. Among the top 500 players, find out the age and number of seasons that they made their peak homeruns record. (relationship between maturity and number of homeruns)

In [145]:
import pandas as pd

# read in master and batting CSV of 2014, files should be under {location_of_notebook}/csv/
master = pd.read_csv('csv/MASTER.csv')
batting = pd.read_csv('csv/Batting.csv')

# get the player IDs of the top 100 players
top_500_ids = batting.groupby('playerID').sum().sort_values(by=['HR'], ascending=[0]).head(500).index

In [146]:
import datetime
import sys
import matplotlib.pyplot as plt

# need to handle error of datetime library, not support year < 1900
# handle empty values
# handle date in 2 different formats
def date_to_year(column):
    if (column ==''):
        return None    
    try:
        d = datetime.datetime.strptime(column, "%m/%d/%Y" )
        return int(d.isoformat().split('T')[0].split('-')[0])
    except ValueError:
        d = datetime.datetime.strptime(column, "%Y-%m-%d" )
        return int(d.isoformat().split('T')[0].split('-')[0])
    except:
        print "Unexpected error:", sys.exc_info()[0]

#fill empy values
master['debut'] = master['debut'].fillna('')
master['debut'] = master['debut'].apply(date_to_year)

# get only required columns
master = master[['playerID','birthYear','debut']]
batting = batting[['playerID','HR', 'yearID']]

master = master[master['playerID'].isin(top_500_ids)]
top_500 = pd.merge(master, batting, on='playerID')

# calculate age, year and debut age for further processing
age = top_500['yearID'] - top_500['birthYear']
year = top_500['yearID'] - top_500['debut'] + 1
debut_age = top_500['debut'] - top_500['birthYear']

top_500['debutAge'] = pd.Series(debut_age, index=top_500.index)
top_500['age'] = pd.Series(age, index=top_500.index)
top_500['year'] = pd.Series(year, index=top_500.index)

In [148]:
#get information for the year that each player attained their peak homerun records
top_500_max_hr = top_500.sort_values(by='HR', ascending=False).groupby('playerID', as_index=False).first()    

# it would show that 
# average debut age is 22.3
# average age that attain best record is 29.2
# and the average number of season that attain the record is their 8th season
top_500_max_hr.describe()

,birthYear,debut,HR,yearID,debutAge,age,year
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000
mean,1952.744000,1975.036000,34.190000,1981.982000,22.292000,29.23800,7.946000
std,22.686379,22.955361,9.216278,22.696518,1.766629,3.45445,3.407978
min,1887.000000,1912.000000,14.000000,1921.000000,17.000000,20.00000,1.000000
25%,1938.000000,1960.000000,28.000000,1966.000000,21.000000,27.00000,6.000000
50%,1958.000000,1980.000000,33.000000,1987.000000,22.000000,29.00000,8.000000
75%,1971.000000,1994.000000,40.000000,2000.000000,24.000000,31.00000,10.000000
max,1989.000000,2010.000000,73.000000,2014.000000,29.000000,40.00000,20.000000

In [154]:
top_500_max_hr[['debutAge','age','year']].plot(kind='hist',stacked=False, bins=40)

# it would show that 
# most players have debut age is 22
# most players attain their best record at the age of 29
# and most of them have their best season at season 7
plt.show()